Completion:
  ArgumentLists: Delimiters

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
  BlockEnd: false
  DefaultArguments: false
  TypeNameLimit: 24


CompileFlags:   
  Add: [-xc, -std=c23, -Wall, -Wextra, -Wpedantic, -Wnozero-length-array]